<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206333019093-9vfj3k5j0jk3ds8dbtfgcdn95rnnov9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206333019093-9vfj3k5j0jk3ds8dbtfgcdn95rnnov9m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>206333019093-lfvppph9km5uqti28vlcissd4ifq0td8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCnPoFTFoxLVv4jVAHGKR_Pk0cxiztqgHU</string>
	<key>GCM_SENDER_ID</key>
	<string>206333019093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.uprocess</string>
	<key>PROJECT_ID</key>
	<string>uprocessapp</string>
	<key>STORAGE_BUCKET</key>
	<string>uprocessapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206333019093:ios:7b1db160b0320fdca7b35c</string>
</dict>
</plist>